gfe-db/pipeline/statemachines/load-concurrency-manager.asl.json
{
    "StartAt": "Pre-Execution Backup",
    "States": {
        "Pre-Execution Backup": {
            "Type": "Task",
            "Resource": "${InvokeBackupScriptFunctionArn}",
            "ResultPath": "$.backups.pre",
            "Next": "Receive SQS Message",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.5
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Receive SQS Message"
                }
            ]            
        },
        "Receive SQS Message": {
            "Type": "Task",
            "Resource": "${LcmReceiveMessageFunctionArn}",
            "ResultPath": "$.sqs",
            "Next": "Message Received?"
        },
        "Message Received?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.sqs.MessageId",
                    "IsPresent": true,
                    "Next": "Register Execution for Release"
                }
            ],
            "Default": "Wait for Message"
        },
        "Wait for Message": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "Check Alarm State"
        },
        "Register Execution for Release": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
            "ResultPath": null,
            "Parameters": {
                "TableName": "${GfeDbExecutionStateTable}",
                "Key": {
                    "commit__sha": {
                        "S.$": "$.sqs.Body.input.commit_sha"
                    },
                    "execution__version": {
                        "N.$": "States.Format('{}', $.sqs.Body.input.version)"
                    }
                },
                "UpdateExpression": "SET execution__lcm_execution_arn = :lcm_execution_arn, updated_utc = :updated_utc",
                "ExpressionAttributeValues": {
                    ":lcm_execution_arn": {
                        "S.$": "$$.Execution.Id"
                    },
                    ":updated_utc": {
                        "S.$": "$$.State.EnteredTime"
                    }
                }
            },
            "Next": "Handle Load Query Execution"
        },
        "Handle Load Query Execution": {
            "Type": "Parallel",
            "OutputPath": "$.[0]",
            "Next": "Check Alarm State",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Check Alarm State"
                }
            ],
            "Branches": [
                {
                    "StartAt": "Execute Load Query",
                    "States": {
                        "Execute Load Query": {
                            "Type": "Task",
                            "Resource": "${InvokeLoadScriptFunctionArn}",
                            "ResultPath": "$",
                            "Next": "Watch Load Command",
                            "Retry": [
                                {
                                    "ErrorEquals": ["States.ALL"],
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 2.0
                                }
                            ]
                        },
                        "Watch Load Command": {
                            "Type": "Parallel",
                            "OutputPath": "$.[0]",
                            "Next": "Evaluate Load Command Result",
                            "Catch": [
                                {
                                    "ErrorEquals": ["States.ALL"],
                                    "Next": "Return Message to Load Queue"
                                }
                            ],
                            "Branches": [
                                {
                                    "StartAt": "Get Load Command Status",
                                    "States": {
                                        "Get Load Command Status": {
                                            "Type": "Task",
                                            "Resource": "arn:aws:states:::aws-sdk:ssm:listCommandInvocations",
                                            "Next": "Evaluate Load Command Status",
                                            "Parameters": {
                                                "CommandId.$": "$.ssm.CommandId",
                                                "InstanceId.$": "$.ssm.InstanceId",
                                                "Filters": [
                                                    {
                                                        "Key": "DocumentName",
                                                        "Value": "${Neo4jLoadQueryDocumentName}"
                                                    }
                                                ]
                                            },
                                            "ResultSelector": {
                                                "CommandId.$": "$.CommandInvocations[0].CommandId",
                                                "InstanceId.$": "$.CommandInvocations[0].InstanceId",
                                                "Status.$": "$.CommandInvocations[0].Status"
                                            },
                                            "ResultPath": "$.ssm",
                                            "Retry": [
                                                {
                                                    "ErrorEquals": ["States.ALL"],
                                                    "IntervalSeconds": 5,
                                                    "MaxAttempts": 5,
                                                    "BackoffRate": 2.0
                                                }
                                            ]
                                        },
                                        "Evaluate Load Command Status": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Or": [
                                                        {
                                                            "Variable": "$.ssm.Status",
                                                            "StringEquals": "Failed"
                                                        },
                                                        {
                                                            "Variable": "$.ssm.Status",
                                                            "StringEquals": "Cancelled"
                                                        },
                                                        {
                                                            "Variable": "$.ssm.Status",
                                                            "StringEquals": "TimedOut"
                                                        }
                                                    ],
                                                    "Next": "Fetch Error Log"
                                                },
                                                {
                                                    "Variable": "$.ssm.Status",
                                                    "StringEquals": "Success",
                                                    "Next": "Load Command Complete"
                                                }
                                            ],
                                            "Default": "Wait for Status"
                                        },
                                        "Wait for Status": {
                                            "Type": "Wait",
                                            "Seconds": 60,
                                            "Next": "Get Load Command Status"
                                        },
                                        "Load Command Complete": {
                                            "Type": "Pass",
                                            "ResultPath": null,
                                            "End": true
                                        },
                                        "Fetch Error Log": {
                                            "Type": "Task",
                                            "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
                                            "Parameters": {
                                                "CommandId.$": "$.ssm.CommandId",
                                                "InstanceId.$": "$.ssm.InstanceId",
                                                "PluginName": "runShellScript"
                                            },
                                            "ResultSelector": {
                                                "Status.$": "$.Status",
                                                "StandardOutputContent.$": "$.StandardOutputContent",
                                                "StandardErrorContent.$": "$.StandardErrorContent"
                                            },
                                            "ResultPath": "$.ssm",
                                            "Next": "Load Command Complete"
                                        }
                                    }
                                }
                            ]
                        },
                        "Evaluate Load Command Result": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.ssm.Status",
                                    "StringEquals": "Success",
                                    "Next": "Delete Message from Load Queue"
                                }
                            ],
                            "Default": "Return Message to Load Queue"
                        },
                        "Return Message to Load Queue": {
                            "Type": "Task",
                            "InputPath": "$",
                            "Resource": "arn:aws:states:::aws-sdk:sqs:changeMessageVisibility",
                            "Parameters": {
                                "QueueUrl": "${GfeDbLoadQueueUrl}",
                                "ReceiptHandle.$": "$.sqs.ReceiptHandle",
                                "VisibilityTimeout": 0
                            },
                            "ResultPath": null,
                            "Next": "Update Status → LOAD_FAILED"
                        },
                        "Update Status → LOAD_FAILED": {
                            "Type": "Pass",
                            "Result": "LOAD_FAILED",
                            "ResultPath": "$.sqs.Body.state.execution.status",
                            "Next": "Sync Status → LOAD_FAILED"
                        },
                        "Sync Status → LOAD_FAILED": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "ResultPath": null,
                            "End": true,
                            "Parameters": {
                                "TableName": "${GfeDbExecutionStateTable}",
                                "Key": {
                                    "commit__sha": {
                                        "S.$": "$.sqs.Body.input.commit_sha"
                                    },
                                    "execution__version": {
                                        "N.$": "States.Format('{}', $.sqs.Body.input.version)"
                                    }
                                },
                                "UpdateExpression": "SET execution__status = :status, updated_utc = :updated_utc, error__message = :error, error__cause = :cause",
                                "ExpressionAttributeValues": {
                                    ":status": {
                                        "S.$": "$.sqs.Body.state.execution.status"
                                    },
                                    ":updated_utc": {
                                        "S.$": "$$.State.EnteredTime"
                                    },
                                    ":error": {
                                        "S.$": "$.ssm.Status"
                                    },
                                    ":cause": {
                                        "S.$": "$.ssm.StandardErrorContent"
                                    }
                                }
                            }
                        },
                        "Delete Message from Load Queue": {
                            "Type": "Task",
                            "InputPath": "$",
                            "Resource": "arn:aws:states:::aws-sdk:sqs:deleteMessage",
                            "Parameters": {
                                "QueueUrl": "${GfeDbLoadQueueUrl}",
                                "ReceiptHandle.$": "$.sqs.ReceiptHandle"
                            },
                            "ResultPath": null,
                            "Next": "Update Status → LOAD_COMPLETE"
                        },
                        "Update Status → LOAD_COMPLETE": {
                            "Type": "Pass",
                            "Result": "LOAD_COMPLETE",
                            "ResultPath": "$.sqs.Body.state.execution.status",
                            "Next": "Sync Status → LOAD_COMPLETE"
                        },
                        "Sync Status → LOAD_COMPLETE": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "InputPath": "$",
                            "ResultPath": null,
                            "End": true,
                            "Parameters": {
                                "TableName": "${GfeDbExecutionStateTable}",
                                "Key": {
                                    "commit__sha": {
                                        "S.$": "$.sqs.Body.input.commit_sha"
                                    },
                                    "execution__version": {
                                        "N.$": "States.Format('{}', $.sqs.Body.input.version)"
                                    }
                                },
                                "UpdateExpression": "SET execution__status = :status, updated_utc = :updated_utc",
                                "ExpressionAttributeValues": {
                                    ":status": {
                                        "S.$": "$.sqs.Body.state.execution.status"
                                    },
                                    ":updated_utc": {
                                        "S.$": "$$.State.EnteredTime"
                                    }
                                }
                            }
                        }
                    }
                }
            ]
        },
        "Check Alarm State": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:describeAlarms",
            "Parameters": {
                "AlarmNames": [
                    "${UpdatePipelineStateMachineExecutionAlarmName}"
                ]
            },
            "ResultSelector": {
                "StateValue.$": "$.MetricAlarms[0].StateValue"
            },
            "Next": "Evaluate Alarm State"
        },
        "Evaluate Alarm State": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.StateValue",
                    "StringMatches": "ALARM",
                    "Next": "Sleep 10"
                },
                {
                    "Variable": "$.StateValue",
                    "StringMatches": "INSUFFICIENT_DATA",
                    "Next": "Sleep 10"
                }
            ],
            "Default": "Post-Execution Backup"
        },
        "Sleep 10": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "Receive SQS Message"
        },
        "Post-Execution Backup": {
            "Type": "Task",
            "Resource": "${InvokeBackupScriptFunctionArn}",
            "ResultPath": "$.backups.post",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.5
                }
            ],
            "End": true
        }
    }
}